<h1> <%= @dish['name'] %></h1>
<img src="<%= @dish['image_url'] %>" alt="">

<%# can't use a ANCHOR for delete button because button is a get function %>

<%# the url needs to be specific for what we want to delete, in this case by ID. %>
<form action="/dishes/<%= @dish['id']%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>delete</button>
</form>

<a href="/dishes/<%= @dish['id']%>/edit">
  <button>edit</button>
</a>

<p> <%= @dish.likes.count %> likes </p>
<%# creating the like resource %>
<form action="/likes" method="post">
  <input type="hidden" name="dish_id" value="<%= @dish.id %>">
  <button>like</button>
</form>

<form action="/comments" method="post">
  <input type="hidden" name="dish_id" value="<%= @dish['id'] %>">
  <label for="">content</label>
  <textarea name="content"></textarea>
  <button>post</button>
</form>

<% @comments.each do |comment| %>
  <p><%= comment['content'] %></p>
<% end %>
<p>posted by <%= @dish.user.id %></p>